$ic-accessibility-black-24dp-name: 'ic_accessibility_black_24dp';
$ic-accessibility-black-24dp-x: 48px;
$ic-accessibility-black-24dp-y: 0px;
$ic-accessibility-black-24dp-offset-x: -48px;
$ic-accessibility-black-24dp-offset-y: 0px;
$ic-accessibility-black-24dp-width: 24px;
$ic-accessibility-black-24dp-height: 24px;
$ic-accessibility-black-24dp-total-width: 72px;
$ic-accessibility-black-24dp-total-height: 48px;
$ic-accessibility-black-24dp-image: '/images/sprite.png?hash=ee1fbbbe6695a60f6e235eba9ca3a10c';
$ic-accessibility-black-24dp: (48px, 0px, -48px, 0px, 24px, 24px, 72px, 48px, '/images/sprite.png?hash=ee1fbbbe6695a60f6e235eba9ca3a10c', 'ic_accessibility_black_24dp', );
$ic-accessibility-black-24dp-2x-name: 'ic_accessibility_black_24dp@2x';
$ic-accessibility-black-24dp-2x-x: 0px;
$ic-accessibility-black-24dp-2x-y: 0px;
$ic-accessibility-black-24dp-2x-offset-x: 0px;
$ic-accessibility-black-24dp-2x-offset-y: 0px;
$ic-accessibility-black-24dp-2x-width: 48px;
$ic-accessibility-black-24dp-2x-height: 48px;
$ic-accessibility-black-24dp-2x-total-width: 72px;
$ic-accessibility-black-24dp-2x-total-height: 48px;
$ic-accessibility-black-24dp-2x-image: '/images/sprite.png?hash=ee1fbbbe6695a60f6e235eba9ca3a10c';
$ic-accessibility-black-24dp-2x: (0px, 0px, 0px, 0px, 48px, 48px, 72px, 48px, '/images/sprite.png?hash=ee1fbbbe6695a60f6e235eba9ca3a10c', 'ic_accessibility_black_24dp@2x', );
$spritesheet-width: 72px;
$spritesheet-height: 48px;
$spritesheet-image: '/images/sprite.png?hash=ee1fbbbe6695a60f6e235eba9ca3a10c';
$spritesheet-sprites: ($ic-accessibility-black-24dp, $ic-accessibility-black-24dp-2x, );
$spritesheet: (72px, 48px, '/images/sprite.png?hash=ee1fbbbe6695a60f6e235eba9ca3a10c', $spritesheet-sprites, );

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
